<header>
  <mat-toolbar color="primary">
    <div class="container">
      <img class="icon" src="assets/hulk.svg" width="48">
      <span class="title">Hulk Store</span>
      <div class="spacer"></div>
      <div class="menu">
        <a [routerLink]="['/categories']" routerLinkActive="actived">Categories</a>
      </div>
      <div class="menu">
        <a [routerLink]="['/products']" routerLinkActive="actived">Products</a>
      </div>
    </div>
  </mat-toolbar>
</header>
<div class="container" style="margin-top: 20px">
  <div style="width: 100%">
    <router-outlet></router-outlet>
  </div>
</div>
