@import '~@angular/material/theming';

.mat-card span {
  display: block;
  font-size: .9em;
  color: mat-color($mat-gray, 500);
}

.mat-card-title {
  font-size: 1.3em;
}

.mat-card-title,
.mat-card-subtitle {
  margin-left: -8px;
}

.price {
  margin: 10px 0 20px 0;
  font-size: 3em;
  color: mat-color($mat-cyan, 600);
}

table {
  width: 100%;
}

.red {
  color: mat-color($mat-red, 700);
}

.green {
  color: mat-color($mat-green, 600);
}

.empty {
  color: mat-color($mat-gray, 500);
  font-size: 1.3em;
  text-align: center;
  padding: 25px;
}
