<div class="row" style="margin-bottom: 10px;">
  <div class="col-xs-6" style="font-size: 1.5em">
    <span>Product Detail</span>
  </div>
  <div class="col-xs-6" style="text-align: right">
    <button mat-button color="primary">NEW STOCK</button>
    <a mat-button [routerLink]="['/products']">BACK</a>
  </div>
</div>
<div class="row top-xs">
  <div class="col-xs-5">
    <mat-card>
      <mat-card-header>
        <mat-card-title> {{product.name}} </mat-card-title>
        <mat-card-subtitle> {{product.category.name}} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-xs-6">
            <div>Price:</div>
            <div class="price"> {{product.price | currency}} </div>
          </div>
          <div class="col-xs-6">
            <div>Available:</div>
            <div class="price"> {{ available }} </div>
          </div>
        </div>
        <span> Created: {{product.created | date:'medium'}} </span>
        <span *ngIf="product.updated"> Updated: {{product.updated | date:'medium'}} </span>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-xs-7 mat-elevation-z2" style="background: white; padding: 0">
    <table mat-table *ngIf="dataSource" [dataSource]="dataSource.items">
      <ng-container matColumnDef="type">
        <th style="width: 60px" mat-header-cell *matHeaderCellDef></th>
        <td style="width: 60px" mat-cell *matCellDef="let stock">
          <mat-icon class="red" *ngIf="stock.type == 'OUTPUT'">arrow_downward</mat-icon>
          <mat-icon class="green" *ngIf="stock.type == 'INPUT'">arrow_upward</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="index">
        <th style="width: 50px" mat-header-cell *matHeaderCellDef>No.</th>
        <td style="width: 50px" mat-cell *matCellDef="let stock"> {{stock.index}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th style="width: 75px" mat-header-cell *matHeaderCellDef>Amount</th>
        <td style="width: 75px" mat-cell *matCellDef="let stock"> {{stock.amount}} </td>
      </ng-container>

      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef>Message</th>
        <td mat-cell *matCellDef="let stock"> {{stock.message}} </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th style="width: 190px" mat-header-cell *matHeaderCellDef>Created</th>
        <td style="width: 190px" mat-cell *matCellDef="let stock"> {{stock.created | date:'medium'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
  </div>
</div>
